@model IEnumerable<SistemaCurriculos.Models.Curriculo>

@{
    ViewData["Title"] = "Currículos";
}

<h2>@ViewData["Title"]</h2>



<p>Relação de currículos cadastrados</p>

<br />
<a asp-action="Criar" asp-controller="Curriculo">Incluir Novo</a>

<br />

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Curriculo curriculo in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(mc => curriculo.Nome)
                </td>
                <td>
                    <a class="btn-floation btn-small blue darken-4 modal-trigger" asp-action="Editar" asp-route-id="@curriculo.Id"><i class="material-icons">edit</i></a>
                    <a class="btn-floation btn-small deep-porple darken-4 modal-trigger" asp-action="Detalhe" asp-route-id="@curriculo.Id"><i class="material-icons">info</i></a>
                    <a class="btn-floation btn-small red darken-4 modal-trigger" onclick="excluirCurriculoModal(@curriculo.Id)"><i class="material-icons">delete_forever</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Exclusão de tipo de curso</h4>
        <p>Deseja excluir este Currículo?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close green accent-4 btn">Não</a>
        <a class="modal-close red accent-4 btn btnConfirmar">Sim</a>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".modal").modal();
        });

        function excluirCurriculoModal(id) {
            $("#modal1").modal("open");

            $(".btnConfirmar").on("click", function () {
                $.ajax({
                    method: "POST",
                    url: "/Curriculo/Excluir",
                    data: { id: id },
                    success: function () {
                        alert("Currículo excluído com sucesso!");
                        location.reload();
                    }
                });
            });
        }
    </script>
}
