@model IEnumerable<SistemaCurriculos.Models.FormacaoAcademica>

@foreach (var item in Model)
{
    <li class="collection-item row">
        <div class="valign-wrapper col s10">
            @Html.DisplayFor(modelItem => item.TipoCurso.Tipo) em @Html.DisplayFor(modelItem => item.NomeCurso)
            @Html.DisplayFor(modelItem => item.Instituicao), @Html.DisplayFor(modelItem => item.AnoInicio) - @Html.DisplayFor(modelItem => item.AnoFim)
        </div>

        <div class="col s2 right">
            <a asp-controller="FormacaoAcademica" asp-action="Editar" asp-route-id="@item.Id" class="btn-floating btn-small blue darken-4"><i class="material-icons">edit</i></a>
            <a onclick="excluirDadosModal(@item.Id, 'FormacaoAcademica')" class="btn-floating btn-small red darken-4 modal-trigger"><i class="material-icons">delete_forever</i></a>
        </div>
    </li>
}

