@model IEnumerable<SistemaCurriculos.Models.InformacaoLogin>

@{
    ViewData["Title"] = "Informações de Login";
}

<h2>@ViewData["Title"]</h2>



<p>Histórico de acesso do usuário @Model.First().Usuario.Email</p>

<br />
<a class="btn btn-small green darken-3" asp-action="DownloadCSV" asp-controller="InformacaoLogin" asp-route-id="@Model.First().Usuario.Id">Download CSV</a>

<br />

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.EnderecoIp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (InformacaoLogin informacaoLogin in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(il => informacaoLogin.EnderecoIp)
            </td>
            <td>
                @Html.DisplayFor(il => informacaoLogin.Data)
            </td>
            <td>
                @Html.DisplayFor(il => informacaoLogin.Horario)
            </td>
        </tr>
        }
    </tbody>
</table>


